[submodule "src/curriculum_vitae"]
	path = src/curriculum_vitae
	url = git@github.com:SichangHe/curriculum_vitae.git
	branch = artifacts
[submodule "linked/JSphere"]
	path = linked/JSphere
	url = git@github.com:SichangHe/JSphere.git
    branch = docs-only
[submodule "linked/DeGenTWeb"]
	path = linked/DeGenTWeb
	url = git@github.com:SichangHe/DeGenTWeb_docs.git
[submodule "linked/c2pa_broader_review"]
	path = linked/c2pa_broader_review
	url = git@github.com:SichangHe/c2pa_broader_review.git
	branch = artifacts
