@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");

html {
    font-family: "KaTeX_Main", "Times New Roman"
}

:root {
    --mono-font: "JetBrains Mono NL", "JetBrains Mono", "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace
}

@media (min-width: 640px) {

    .content main>p,
    .content main>ol,
    .content main>ul {
        text-align: justify;
        hyphens: auto;
    }
}

code {
    hyphens: none;
}

sup {
    line-height: 0;
}

.content main:has(pre > code) {
    max-width: fit-content;
}

.content a.active {
    color: var(--sidebar-active);
    text-decoration: underline;
}

#page-toc[hidden], mdbook-sidebar-scrollbox[hidden] {
    display: none;
}

#page-toc ul {
    list-style: none;
    padding: 0 10px;
}

#page-toc li {
    margin-block: 0.5em;
}

#page-toc a {
    color: var(--sidebar-fg);
    text-decoration: none;
}

#page-toc a.active {
    color: var(--sidebar-active);
    text-decoration: underline;
}

.page-edit-time {
    font-size: 0.85em;
    color: var(--fg);
}
