html {
    font-family: "KaTeX_Main", "Times New Roman"
}

:root {
    --mono-font: "JetBrains Mono NL", "JetBrains Mono", "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace
}

@media (min-width: 640px) {

    #content>p,
    #content>ol,
    #content>ul {
        text-align: justify;
        hyphens: auto;
    }
}

code {
    hyphens: none;
}

sup {
    line-height: 0;
}
